#myImage{
  cursor:pointer;
  box-shadow: 0px 0px 300px #000000;
}

body{
  background-color: #343541;
}

#center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
